<html ng-app="app">
<head>
    <title>Sample</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/site.css"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js"></script>
</head>
<body ng-controller="mainController">


<div id="map"></div>

<div id="info-inner">
    <div class="row">
        <img class="col-md-4 col-sm-4 col-lg-4" ng-src="{{currentTour.imageUrl}}" alt="" id="picture"/>

        <div class="col-md-8">
            <br/>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 text-center"><h4><strong>{{currentTour.address}}</strong></h4></div>
            </div>
            <div class="row">
                <div class="text-center"><h4><strong>{{currentTour.price}}</strong></h4></div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                    <strong>Beds</strong>
                    <br/>
                    <strong>{{currentTour.info[0]}}</strong>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                    <strong>Baths</strong>
                    <br/>
                    <strong>{{currentTour.info[1]}}</strong>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 text-center">
                    <strong>Sq. Ft</strong>
                    <br/>
                    <strong>{{currentTour.info[2]}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>


<iframe id="info" frameborder="1" scrolling="no" src="javascript:void(0);" ng-show="currentTour"></iframe>

<script src="/GoogleEarth/app.js"></script>
<script src="/GoogleEarth/service/tourService.js"></script>
<script src="/GoogleEarth/service/apiService.js"></script>
<script src="/GoogleEarth/controller/mainController.js"></script>

</body>
</html>